<settings>
  <servers>
    <server>
      <id>Repository</id>
      <username>${env.CLIENT_ID}</username> <!-- Ensure CLIENT_ID is set as an environment variable -->
      <password>${env.CLIENT_SECRET}</password> <!-- Ensure CLIENT_SECRET is set as an environment variable -->
    </server>
  </servers>
  <proxies>
    <proxy>
      <id>ex-proxy</id>
      <active>true</active>
      <protocol>http</protocol>
      <host>proxy.example.com</host>
      <port>8080</port>
      <username>ars_710</username>
      <password>710@Anypoint</password>
    </proxy>
  </proxies>
</settings>
